# 1. Calculate the Origin-Destination Matrix to model travel across the city grids

In [ ]:
!pip install shapely
!pip install geopandas
!pip install osmnx
!pip install contextily

Requirement already satisfied: shapely in /usr/local/lib/python3.10/dist-packages (2.0.1)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.10/dist-packages (from shapely) (1.23.5)
Requirement already satisfied: geopandas in /usr/local/lib/python3.10/dist-packages (0.13.2)
Requirement already satisfied: fiona>=1.8.19 in /usr/local/lib/python3.10/dist-packages (from geopandas) (1.9.4.post1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from geopandas) (23.1)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from geopandas) (1.5.3)
Requirement already satisfied: pyproj>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from geopandas) (3.6.0)
Requirement already satisfied: shapely>=1.7.1 in /usr/local/lib/python3.10/dist-packages (from geopandas) (2.0.1)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (23.1.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (2023.7.22)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (0.7.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (1.23.5)
Requirement already satisfied: osmnx in /usr/local/lib/python3.10/dist-packages (1.6.0)
Requirement already satisfied: geopandas>=0.12 in /usr/local/lib/python3.10/dist-packages (from osmnx) (0.13.2)
Requirement already satisfied: networkx>=2.5 in /usr/local/lib/python3.10/dist-packages (from osmnx) (3.1)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from osmnx) (1.23.5)
Requirement already satisfied: pandas>=1.1 in /usr/local/lib/python3.10/dist-packages (from osmnx) (1.5.3)
Requirement already satisfied: requests>=2.27 in /usr/local/lib/python3.10/dist-packages (from osmnx) (2.31.0)
Requirement already satisfied: shapely>=2.0 in /usr/local/lib/python3.10/dist-packages (from osmnx) (2.0.1)
Requirement already satisfied: fiona>=1.8.19 in /usr/local/lib/python3.10/dist-packages (from geopandas>=0.12->osmnx) (1.9.4.post1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from geopandas>=0.12->osmnx) (23.1)
Requirement already satisfied: pyproj>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from geopandas>=0.12->osmnx) (3.6.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1->osmnx) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1->osmnx) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.27->osmnx) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.27->osmnx) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.27->osmnx) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.27->osmnx) (2023.7.22)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas>=0.12->osmnx) (23.1.0)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas>=0.12->osmnx) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas>=0.12->osmnx) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas>=0.12->osmnx) (0.7.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas>=0.12->osmnx) (1.16.0)
Requirement already satisfied: contextily in /usr/local/lib/python3.10/dist-packages (1.3.0)
Requirement already satisfied: geopy in /usr/local/lib/python3.10/dist-packages (from contextily) (2.3.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from contextily) (3.7.1)
Requirement already satisfied: mercantile in /usr/local/lib/python3.10/dist-packages (from contextily) (1.2.1)
Requirement already satisfied: pillow in /usr/local/lib/python3.10/dist-packages (from contextily) (9.4.0)
Requirement already satisfied: rasterio in /usr/local/lib/python3.10/dist-packages (from contextily) (1.3.8)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from contextily) (2.31.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from contextily) (1.3.2)
Requirement already satisfied: xyzservices in /usr/local/lib/python3.10/dist-packages (from contextily) (2023.7.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /usr/local/lib/python3.10/dist-packages (from geopy->contextily) (2.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->contextily) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->contextily) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->contextily) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->contextily) (1.4.4)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib->contextily) (1.23.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->contextily) (23.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->contextily) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->contextily) (2.8.2)
Requirement already satisfied: click>=3.0 in /usr/local/lib/python3.10/dist-packages (from mercantile->contextily) (8.1.7)
Requirement already satisfied: affine in /usr/local/lib/python3.10/dist-packages (from rasterio->contextily) (2.4.0)
Requirement already satisfied: attrs in /usr/local/lib/python3.10/dist-packages (from rasterio->contextily) (23.1.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from rasterio->contextily) (2023.7.22)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.10/dist-packages (from rasterio->contextily) (0.7.2)
Requirement already satisfied: snuggs>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from rasterio->contextily) (1.4.7)
Requirement already satisfied: click-plugins in /usr/local/lib/python3.10/dist-packages (from rasterio->contextily) (1.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from rasterio->contextily) (67.7.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->contextily) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->contextily) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->contextily) (2.0.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->contextily) (1.16.0)

In [ ]:
#Standard and specialised module imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import osmnx as ox
import contextily as ctx
from shapely.geometry import Point, LineString, Polygon, MultiPolygon, shape, box
import geopandas as gpd
from geopy.geocoders import Nominatim, GoogleV3
from shapely.ops import unary_union
import networkx as nx

In [ ]:
import os
from google.colab import drive
drive.mount('/content/drive')
os.chdir('/content/drive/MyDrive/Dissertation/')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
gdf_london_polygons_3857_populated = gpd.read_file('London_grids_with_population.shp')
gdf_london_polygons_3857_populated

,grid_index,total_grid,grid_ind_1,population,geometry
0,0,2.002488e+08,0,290813,"POLYGON ((-56812.147 6704537.466, -56804.210 6..."
1,1,3.048445e+08,1,529794,"POLYGON ((-54467.483 6709849.877, -54466.879 6..."
2,2,7.290612e+07,2,65432,"POLYGON ((-55724.781 6728042.454, -55728.418 6..."
3,3,1.974706e+08,3,310866,"POLYGON ((-37056.872 6734181.760, -37055.464 6..."
4,4,3.391022e+08,4,1141004,"POLYGON ((-18598.086 6726684.089, -19297.632 6..."
5,5,3.352066e+08,5,754291,"POLYGON ((-19297.632 6708563.691, -19993.107 6..."
6,6,1.033663e+08,6,184762,"POLYGON ((-19993.107 6690483.077, -20343.802 6..."
7,7,1.865205e+05,7,69,"POLYGON ((-35553.029 6691068.754, -35554.655 6..."
8,8,3.099712e+08,8,655551,"POLYGON ((-17932.418 6743865.958, -17927.158 6..."
9,9,3.390041e+08,9,1570414,"POLYGON ((103.580 6725935.446, -637.303 670781..."
10,10,3.375098e+08,10,1275105,"POLYGON ((-637.303 6707819.400, -1373.877 6689..."
11,11,2.414844e+08,11,340780,"POLYGON ((-1373.877 6689743.104, -1761.503 668..."
12,12,1.123509e+08,12,152586,"POLYGON ((498.724 6735570.597, 562.219 6735575..."
13,13,3.389002e+08,13,987584,"POLYGON ((18800.605 6725143.853, 18018.419 670..."
14,14,3.334888e+08,14,560070,"POLYGON ((18018.419 6707032.407, 17619.633 669..."
15,15,2.178282e+08,15,106803,"POLYGON ((16715.791 6688983.326, 16651.414 668..."
16,16,8.044876e+07,16,72892,"POLYGON ((19102.847 6732124.636, 19123.998 673..."
17,17,2.094376e+08,17,166530,"POLYGON ((31216.453 6724594.359, 31253.214 672..."
18,18,3.604479e+07,18,47105,"POLYGON ((24606.010 6706744.263, 24583.462 670..."
19,19,5.354346e+05,19,340,"POLYGON ((17406.151 6692809.223, 17411.337 669..."

In [ ]:
west, south, east, north = gdf_london_polygons_3857_populated.unary_union.bounds

## 1.1. TFL Tube Data 2020

### 1.1.1. Read Input Datasets (Monday to Thursday, Friday, Saturday and Sunday)

In [ ]:
tfl_tube_flows_data_MTT = pd.read_excel('Important Data/NBT20MTT_Outputs.xlsx', sheet_name='Link_Loads', header=2)
tfl_tube_flows_data_MTT

tfl_tube_flows_data_FRI = pd.read_excel('Important Data/NBT20FRI_Outputs.xlsx', sheet_name='Link_Loads', header=2)
tfl_tube_flows_data_FRI

tfl_tube_flows_data_SAT = pd.read_excel('Important Data/NBT20SAT_Outputs.xlsx', sheet_name='Link_Loads', header=2)
tfl_tube_flows_data_SAT

tfl_tube_flows_data_SUN = pd.read_excel('Important Data/NBT20SUN_Outputs.xlsx', sheet_name='Link_Loads', header=2)
tfl_tube_flows_data_SUN

,Link,Line,Dir,Order,From NLC,From ASC,From Station,To NLC,To ASC,To Station,...,0230-0245,0245-0300,0300-0315,0315-0330,0330-0345,0345-0400,0400-0415,0415-0430,0430-0445,0445-0500
0,ELEu_BAK_NB>LAMu_BAK_NB@BAK,Bakerloo,NB,1,570,ELEu,Elephant & Castle LU,628,LAMu,Lambeth North,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,LAMu_BAK_NB>WLOu_BAK_NB@BAK,Bakerloo,NB,2,628,LAMu,Lambeth North,747,WLOu,Waterloo LU,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,WLOu_BAK_NB>EMBu_BAK_NB@BAK,Bakerloo,NB,3,747,WLOu,Waterloo LU,542,EMBu,Embankment,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,EMBu_BAK_NB>CHXu_BAK_NB@BAK,Bakerloo,NB,4,542,EMBu,Embankment,718,CHXu,Charing Cross LU,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,CHXu_BAK_NB>PICu_BAK_NB@BAK,Bakerloo,NB,5,718,CHXu,Charing Cross LU,674,PICu,Piccadilly Circus,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1154,PIMu_VIC_SB>VUXu_VIC_SB@VIC,Victoria,SB,13,776,PIMu,Pimlico,777,VUXu,Vauxhall LU,...,0.0,0.000862,0.001537,0.004476,0.006106,0.007910,0.008759,0.009217,0.006278,0.004648
1155,VUXu_VIC_SB>STKu_VIC_SB@VIC,Victoria,SB,14,777,VUXu,Vauxhall LU,716,STKu,Stockwell,...,0.0,0.000639,0.001117,0.003218,0.004500,0.005767,0.006568,0.006886,0.004784,0.003502
1156,STKu_VIC_SB>BRXu_VIC_SB@VIC,Victoria,SB,15,716,STKu,Stockwell,778,BRXu,Brixton LU,...,0.0,0.000295,0.000626,0.002653,0.003201,0.004340,0.004851,0.005231,0.003205,0.002656
1157,WLOu_WAC_EB>BNKu_WAC_EB@WAC,Waterloo & City,EB,1,747,WLOu,Waterloo LU,513,BNKu,Bank and Monument,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1158,BNKu_WAC_WB>WLOu_WAC_WB@WAC,Waterloo & City,WB,1,513,BNKu,Bank and Monument,747,WLOu,Waterloo LU,...,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
print(tfl_tube_flows_data_MTT.columns.tolist())

['Link', 'Line', 'Dir', 'Order', 'From NLC', 'From ASC', 'From Station', 'To NLC', 'To ASC', 'To Station', 'Total', 'Early     ', 'AM Peak   ', 'Midday    ', 'PM Peak   ', 'Evening   ', 'Late      ', '0500-0515', '0515-0530', '0530-0545', '0545-0600', '0600-0615', '0615-0630', '0630-0645', '0645-0700', '0700-0715', '0715-0730', '0730-0745', '0745-0800', '0800-0815', '0815-0830', '0830-0845', '0845-0900', '0900-0915', '0915-0930', '0930-0945', '0945-1000', '1000-1015', '1015-1030', '1030-1045', '1045-1100', '1100-1115', '1115-1130', '1130-1145', '1145-1200', '1200-1215', '1215-1230', '1230-1245', '1245-1300', '1300-1315', '1315-1330', '1330-1345', '1345-1400', '1400-1415', '1415-1430', '1430-1445', '1445-1500', '1500-1515', '1515-1530', '1530-1545', '1545-1600', '1600-1615', '1615-1630', '1630-1645', '1645-1700', '1700-1715', '1715-1730', '1730-1745', '1745-1800', '1800-1815', '1815-1830', '1830-1845', '1845-1900', '1900-1915', '1915-1930', '1930-1945', '1945-2000', '2000-2015', '2015-2030', '2030-2045', '2045-2100', '2100-2115', '2115-2130', '2130-2145', '2145-2200', '2200-2215', '2215-2230', '2230-2245', '2245-2300', '2300-2315', '2315-2330', '2330-2345', '2345-0000', '0000-0015', '0015-0030', '0030-0045', '0045-0100', '0100-0115', '0115-0130', '0130-0145', '0145-0200', '0200-0215', '0215-0230', '0230-0245', '0245-0300', '0300-0315', '0315-0330', '0330-0345', '0345-0400', '0400-0415', '0415-0430', '0430-0445', '0445-0500']

In [ ]:
tfl_tube_flows_data_filtered = tfl_tube_flows_data_MTT[['Line', 'Order', 'From Station', 'To Station', 'Total']].copy()
tfl_tube_flows_data_filtered.loc[:,'From Station'] = tfl_tube_flows_data_filtered['From Station'].str.replace(r'\bLU\b', 'London Underground', regex=True)
tfl_tube_flows_data_filtered.loc[:,'To Station'] = tfl_tube_flows_data_filtered['To Station'].str.replace(r'\bLU\b', 'London Underground', regex=True)
tfl_tube_flows_data_filtered

,Line,Order,From Station,To Station,Total
0,Bakerloo,1,Elephant & Castle London Underground,Lambeth North,3757.480369
1,Bakerloo,2,Lambeth North,Waterloo London Underground,4719.003145
2,Bakerloo,3,Waterloo London Underground,Embankment,8170.701685
3,Bakerloo,4,Embankment,Charing Cross London Underground,9010.257083
4,Bakerloo,5,Charing Cross London Underground,Piccadilly Circus,10329.020112
...,...,...,...,...,...
1154,Victoria,13,Pimlico,Vauxhall London Underground,35840.486164
1155,Victoria,14,Vauxhall London Underground,Stockwell,22012.451569
1156,Victoria,15,Stockwell,Brixton London Underground,11814.862020
1157,Waterloo & City,1,Waterloo London Underground,Bank and Monument,0.000000
1158,Waterloo & City,1,Bank and Monument,Waterloo London Underground,0.000000

### 1.1.2. Generate a dataframe containing the distinct stations in London

In [ ]:
from_station_list = tfl_tube_flows_data_filtered['From Station'].dropna().tolist()
to_station_list = tfl_tube_flows_data_filtered['To Station'].dropna().tolist()

unique_stations_list = list(set(to_station_list).union(set(from_station_list)))
len(unique_stations_list)

df_stations = pd.DataFrame({'Station Name': unique_stations_list})
df_stations

              Station Name
0            Finchley Road
1           Chadwell Heath
2            New Addington
3              East Putney
4            Stepney Green
..                     ...
459         Gallions Reach
460         Clapham Common
461  Leytonstone High Road
462       Canary Wharf DLR
463            Harold Wood

[464 rows x 1 columns]

### 1.1.3. Figure out the coordinates of the London Tube Stations

In [ ]:
# Initialize the Nominatim geocoder
#using GoogleMaps API
geolocator = GoogleV3(api_key='AIzaSyBzvnPRQBTgaPOrm_vVEMBMIg3zNelkXPI')
geolocator.geocode("Waterloo London Underground").point

# Function to get the Point for each station name
def fn_get_point_gmaps(station_name):
    location = geolocator.geocode(station_name + " Station, London, UK").point
    if location:
        return Point(location.longitude, location.latitude)  # Note: Longitude comes first, then Latitude
    else:
        location = geolocator.geocode(station_name + " , London, UK").point
        if location:
            return Point(location.longitude, location.latitude)
        else:
            return None

# Apply the function to the 'StationName' column and create a new 'Point' column
df_stations['Point'] = df_stations['Station Name'].apply(fn_get_point_gmaps)
df_stations

              Station Name                                 Point
0            Finchley Road          POINT (-0.179986 51.5469174)
1           Chadwell Heath          POINT (0.1296121 51.5680729)
2            New Addington           POINT (-0.017094 51.348184)
3              East Putney              POINT (-0.21098 51.4592)
4            Stepney Green         POINT (-0.0464447 51.5191193)
..                     ...                                   ...
459         Gallions Reach          POINT (0.0717277 51.5090228)
460         Clapham Common          POINT (-0.138353 51.4617867)
461  Leytonstone High Road   POINT (0.0082927 51.56357089999999)
462       Canary Wharf DLR  POINT (-0.0208909 51.50510329999999)
463            Harold Wood     POINT (0.23315 51.59276999999999)

[464 rows x 2 columns]

In [ ]:
df_stations = df_stations.rename(columns={'Point':'geometry'})
gdf_stations = gpd.GeoDataFrame(df_stations, crs='epsg:4326')
gdf_stations.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [ ]:
gdf_stations = gdf_stations.to_crs('3857')
gdf_stations.count()

Station Name    464
geometry        464
dtype: int64

In [ ]:
#add the rest of the map in the background
fig, ax = plt.subplots(figsize=(30, 30))
gdf_stations.plot(ax=ax ,figsize=(30,30), alpha=0.5, edgecolor='r', linewidth=10, cmap='magma') #column = 'geometry'
gdf_london_polygons_3857_populated.plot(figsize=(30, 30), ax=ax ,alpha=0.5, edgecolor='k',linewidth=3)
for idx, row in gdf_london_polygons_3857_populated.iterrows():
    label = row['grid_index']  # Replace 'grid_index' with the desired column containing labels or information
    centroid_coords = row['geometry'].centroid.coords[0]
    ax.annotate(text=label, xy=centroid_coords, horizontalalignment='center', size=30)

ctx.add_basemap(ax, zoom=13)
#ax.set_xlim(west, east)
#ax.set_ylim(south, north)
plt.show()

Output hidden; open in https://colab.research.google.com to view.

In [ ]:
def fn_buildGriddedTubeDataset(gdf_tube_dataset_input, gdf_stations_london, gdf_population_data):

    gdf_tube_dataset_filtered_input = gdf_tube_dataset_input[['Line', 'Order', 'From Station', 'To Station', 'Total']].copy()
    gdf_tube_dataset_filtered_input.loc[:,'From Station'] = gdf_tube_dataset_filtered_input['From Station'].str.replace(r'\bLU\b', 'London Underground', regex=True)
    gdf_tube_dataset_filtered_input.loc[:,'To Station'] = gdf_tube_dataset_filtered_input['To Station'].str.replace(r'\bLU\b', 'London Underground', regex=True)
    print(gdf_tube_dataset_filtered_input)

    gdf_tube_dataset_filtered_input_coords = gdf_tube_dataset_filtered_input.merge(gdf_stations_london, left_on='From Station', right_on='Station Name', how='inner')
    gdf_tube_dataset_filtered_input_coords['From Station Coords'] = gdf_tube_dataset_filtered_input_coords['geometry']
    gdf_tube_dataset_filtered_input_coords = gdf_tube_dataset_filtered_input_coords.drop(['geometry', 'Station Name'], axis=1)

    gdf_tube_dataset_filtered_input_coords = gdf_tube_dataset_filtered_input_coords.merge(gdf_stations_london, left_on='To Station', right_on='Station Name', how='inner')
    gdf_tube_dataset_filtered_input_coords = gdf_tube_dataset_filtered_input_coords.rename(columns={'geometry': 'To Station Coords'})
    gdf_tube_dataset_filtered_input_coords = gdf_tube_dataset_filtered_input_coords.drop(['Station Name'], axis=1)
    print(gdf_tube_dataset_filtered_input_coords)

    gdf_tube_dataset_filtered_input_coords_from = gdf_tube_dataset_filtered_input_coords.copy()
    gdf_tube_dataset_filtered_input_coords_from['geometry'] = gdf_tube_dataset_filtered_input_coords_from['From Station Coords']
    gdf_tube_dataset_filtered_input_coords_from = gpd.GeoDataFrame(gdf_tube_dataset_filtered_input_coords_from, crs='3857')
    gdf_tube_dataset_filtered_input_coords_from


    start_join = gpd.sjoin(gdf_tube_dataset_filtered_input_coords_from.to_crs('3857'), gdf_population_data[['geometry', 'grid_index']].to_crs('3857'), how='left', predicate='within')
    start_join['From Grid ID'] = start_join['grid_index']
    start_join = start_join.drop(['index_right', 'grid_index'], axis=1)

    start_join['geometry'] = start_join['To Station Coords']
    end_join = gpd.sjoin(start_join.to_crs('3857'), gdf_population_data[['geometry', 'grid_index']].to_crs('3857'), how='left', predicate='within')
    end_join['To Grid ID'] = end_join['grid_index']
    end_join = end_join.drop(['index_right','grid_index'], axis=1)
    print(end_join)

    #Filter out stations that lie outside the London city limits
    end_join_filtered = end_join[~end_join['To Grid ID'].isnull() & ~end_join['From Grid ID'].isnull()]
    end_join_filtered

    return end_join_filtered

### 1.1.3. Calculate the Flow Data for MTT, FRI, SAT and SUN

In [ ]:
gdf_tube_flow_MTT = fn_buildGriddedTubeDataset(tfl_tube_flows_data_MTT, gdf_stations, gdf_london_polygons_3857_populated)
gdf_tube_flow_MTT

gdf_tube_flow_FRI = fn_buildGriddedTubeDataset(tfl_tube_flows_data_FRI, gdf_stations, gdf_london_polygons_3857_populated)
gdf_tube_flow_FRI

gdf_tube_flow_SAT = fn_buildGriddedTubeDataset(tfl_tube_flows_data_SAT, gdf_stations, gdf_london_polygons_3857_populated)
gdf_tube_flow_SAT

gdf_tube_flow_SUN = fn_buildGriddedTubeDataset(tfl_tube_flows_data_SUN, gdf_stations, gdf_london_polygons_3857_populated)
gdf_tube_flow_SUN

                 Line  Order                          From Station  \
0            Bakerloo      1  Elephant & Castle London Underground
1            Bakerloo      2                         Lambeth North
2            Bakerloo      3           Waterloo London Underground
3            Bakerloo      4                            Embankment
4            Bakerloo      5      Charing Cross London Underground
...               ...    ...                                   ...
1154         Victoria     13                               Pimlico
1155         Victoria     14           Vauxhall London Underground
1156         Victoria     15                             Stockwell
1157  Waterloo & City      1           Waterloo London Underground
1158  Waterloo & City      1                     Bank and Monument

                            To Station         Total
0                        Lambeth North   3757.480369
1          Waterloo London Underground   4719.003145
2                           Embankment   8170.701685
3     Charing Cross London Underground   9010.257083
4                    Piccadilly Circus  10329.020112
...                                ...           ...
1154       Vauxhall London Underground  35840.486164
1155                         Stockwell  22012.451569
1156        Brixton London Underground  11814.862020
1157                 Bank and Monument      0.000000
1158       Waterloo London Underground      0.000000

[1159 rows x 5 columns]
            Line  Order                          From Station     To Station  \
0       Bakerloo      1  Elephant & Castle London Underground  Lambeth North
1       Bakerloo     23           Waterloo London Underground  Lambeth North
2       Northern     23  Elephant & Castle London Underground        Borough
3       Northern     39      London Bridge London Underground        Borough
4       Northern     41  Elephant & Castle London Underground     Kennington
...          ...    ...                                   ...            ...
1154  Piccadilly     50                           Arnos Grove      Southgate
1155  Piccadilly      2                               Oakwood      Southgate
1156  Piccadilly     51                             Southgate        Oakwood
1157  Piccadilly      1                           Cockfosters        Oakwood
1158  Piccadilly     52                               Oakwood    Cockfosters

             Total             From Station Coords  \
0      3757.480369  POINT (-11184.804 6709488.251)
1      4158.155017  POINT (-12501.747 6710785.129)
2     21312.720409  POINT (-11184.804 6709488.251)
3     21411.894428   POINT (-9766.293 6711628.110)
4     19312.180824  POINT (-11184.804 6709488.251)
...            ...                             ...
1154   4495.820362  POINT (-14854.684 6731052.588)
1155   2162.338408  POINT (-14672.399 6736653.693)
1156   2097.528349  POINT (-14225.518 6733914.747)
1157    900.816687  POINT (-16603.302 6737359.408)
1158    877.228130  POINT (-14672.399 6736653.693)

                   To Station Coords
0     POINT (-12479.872 6710025.546)
1     POINT (-12479.872 6710025.546)
2     POINT (-10429.189 6710445.654)
3     POINT (-10429.189 6710445.654)
4     POINT (-11756.897 6708122.429)
...                              ...
1154  POINT (-14225.518 6733914.747)
1155  POINT (-14225.518 6733914.747)
1156  POINT (-14672.399 6736653.693)
1157  POINT (-14672.399 6736653.693)
1158  POINT (-16603.302 6737359.408)

[1159 rows x 7 columns]
            Line  Order                          From Station     To Station  \
0       Bakerloo      1  Elephant & Castle London Underground  Lambeth North
1       Bakerloo     23           Waterloo London Underground  Lambeth North
2       Northern     23  Elephant & Castle London Underground        Borough
3       Northern     39      London Bridge London Underground        Borough
4       Northern     41  Elephant & Castle London Underground     Kennington
...          ...    ...                                   ...            ...
1154  Piccadilly     50                           Arnos Grove      Southgate
1155  Piccadilly      2                               Oakwood      Southgate
1156  Piccadilly     51                             Southgate        Oakwood
1157  Piccadilly      1                           Cockfosters        Oakwood
1158  Piccadilly     52                               Oakwood    Cockfosters

             Total             From Station Coords  \
0      3757.480369  POINT (-11184.804 6709488.251)
1      4158.155017  POINT (-12501.747 6710785.129)
2     21312.720409  POINT (-11184.804 6709488.251)
3     21411.894428   POINT (-9766.293 6711628.110)
4     19312.180824  POINT (-11184.804 6709488.251)
...            ...                             ...
1154   4495.820362  POINT (-14854.684 6731052.588)
1155   2162.338408  POINT (-14672.399 6736653.693)
1156   2097.528349  POINT (-14225.518 6733914.747)
1157    900.816687  POINT (-16603.302 6737359.408)
1158    877.228130  POINT (-14672.399 6736653.693)

                   To Station Coords                        geometry  \
0     POINT (-12479.872 6710025.546)  POINT (-12479.872 6710025.546)
1     POINT (-12479.872 6710025.546)  POINT (-12479.872 6710025.546)
2     POINT (-10429.189 6710445.654)  POINT (-10429.189 6710445.654)
3     POINT (-10429.189 6710445.654)  POINT (-10429.189 6710445.654)
4     POINT (-11756.897 6708122.429)  POINT (-11756.897 6708122.429)
...                              ...                             ...
1154  POINT (-14225.518 6733914.747)  POINT (-14225.518 6733914.747)
1155  POINT (-14225.518 6733914.747)  POINT (-14225.518 6733914.747)
1156  POINT (-14672.399 6736653.693)  POINT (-14672.399 6736653.693)
1157  POINT (-14672.399 6736653.693)  POINT (-14672.399 6736653.693)
1158  POINT (-16603.302 6737359.408)  POINT (-16603.302 6737359.408)

      From Grid ID  To Grid ID
0              9.0         9.0
1              9.0         9.0
2              9.0         9.0
3              9.0         9.0
4              9.0        10.0
...            ...         ...
1154           8.0         8.0
1155           8.0         8.0
1156           8.0         8.0
1157           8.0         8.0
1158           8.0         8.0

[1159 rows x 10 columns]
                 Line  Order                          From Station  \
0            Bakerloo      1  Elephant & Castle London Underground
1            Bakerloo      2                         Lambeth North
2            Bakerloo      3           Waterloo London Underground
3            Bakerloo      4                            Embankment
4            Bakerloo      5      Charing Cross London Underground
...               ...    ...                                   ...
1154         Victoria     13                               Pimlico
1155         Victoria     14           Vauxhall London Underground
1156         Victoria     15                             Stockwell
1157  Waterloo & City      1           Waterloo London Underground
1158  Waterloo & City      1                     Bank and Monument

                            To Station         Total
0                        Lambeth North   3943.772439
1          Waterloo London Underground   4876.863544
2                           Embankment   8208.551704
3     Charing Cross London Underground   9021.494291
4                    Piccadilly Circus  10279.528822
...                                ...           ...
1154       Vauxhall London Underground  36359.118350
1155                         Stockwell  22736.553042
1156        Brixton London Underground  12376.048318
1157                 Bank and Monument      0.000000
1158       Waterloo London Underground      0.000000

[1159 rows x 5 columns]
            Line  Order                          From Station     To Station  \
0       Bakerloo      1  Elephant & Castle London Underground  Lambeth North
1       Bakerloo     23           Waterloo London Underground  Lambeth North
2       Northern     23  Elephant & Castle London Underground        Borough
3       Northern     39      London Bridge London Underground        Borough
4       Northern     41  Elephant & Castle London Underground     Kennington
...          ...    ...                                   ...            ...
1154  Piccadilly     50                           Arnos Grove      Southgate
1155  Piccadilly      2                               Oakwood      Southgate
1156  Piccadilly     51                             Southgate        Oakwood
1157  Piccadilly      1                           Cockfosters        Oakwood
1158  Piccadilly     52                               Oakwood    Cockfosters

             Total             From Station Coords  \
0      3943.772439  POINT (-11184.804 6709488.251)
1      4231.498441  POINT (-12501.747 6710785.129)
2     22155.640850  POINT (-11184.804 6709488.251)
3     22071.148601   POINT (-9766.293 6711628.110)
4     19859.666637  POINT (-11184.804 6709488.251)
...            ...                             ...
1154   4521.234644  POINT (-14854.684 6731052.588)
1155   2100.116213  POINT (-14672.399 6736653.693)
1156   2066.973935  POINT (-14225.518 6733914.747)
1157    846.883604  POINT (-16603.302 6737359.408)
1158    845.706234  POINT (-14672.399 6736653.693)

                   To Station Coords
0     POINT (-12479.872 6710025.546)
1     POINT (-12479.872 6710025.546)
2     POINT (-10429.189 6710445.654)
3     POINT (-10429.189 6710445.654)
4     POINT (-11756.897 6708122.429)
...                              ...
1154  POINT (-14225.518 6733914.747)
1155  POINT (-14225.518 6733914.747)
1156  POINT (-14672.399 6736653.693)
1157  POINT (-14672.399 6736653.693)
1158  POINT (-16603.302 6737359.408)

[1159 rows x 7 columns]
            Line  Order                          From Station     To Station  \
0       Bakerloo      1  Elephant & Castle London Underground  Lambeth North
1       Bakerloo     23           Waterloo London Underground  Lambeth North
2       Northern     23  Elephant & Castle London Underground        Borough
3       Northern     39      London Bridge London Underground        Borough
4       Northern     41  Elephant & Castle London Underground     Kennington
...          ...    ...                                   ...            ...
1154  Piccadilly     50                           Arnos Grove      Southgate
1155  Piccadilly      2                               Oakwood      Southgate
1156  Piccadilly     51                             Southgate        Oakwood
1157  Piccadilly      1                           Cockfosters        Oakwood
1158  Piccadilly     52                               Oakwood    Cockfosters

             Total             From Station Coords  \
0      3943.772439  POINT (-11184.804 6709488.251)
1      4231.498441  POINT (-12501.747 6710785.129)
2     22155.640850  POINT (-11184.804 6709488.251)
3     22071.148601   POINT (-9766.293 6711628.110)
4     19859.666637  POINT (-11184.804 6709488.251)
...            ...                             ...
1154   4521.234644  POINT (-14854.684 6731052.588)
1155   2100.116213  POINT (-14672.399 6736653.693)
1156   2066.973935  POINT (-14225.518 6733914.747)
1157    846.883604  POINT (-16603.302 6737359.408)
1158    845.706234  POINT (-14672.399 6736653.693)

                   To Station Coords                        geometry  \
0     POINT (-12479.872 6710025.546)  POINT (-12479.872 6710025.546)
1     POINT (-12479.872 6710025.546)  POINT (-12479.872 6710025.546)
2     POINT (-10429.189 6710445.654)  POINT (-10429.189 6710445.654)
3     POINT (-10429.189 6710445.654)  POINT (-10429.189 6710445.654)
4     POINT (-11756.897 6708122.429)  POINT (-11756.897 6708122.429)
...                              ...                             ...
1154  POINT (-14225.518 6733914.747)  POINT (-14225.518 6733914.747)
1155  POINT (-14225.518 6733914.747)  POINT (-14225.518 6733914.747)
1156  POINT (-14672.399 6736653.693)  POINT (-14672.399 6736653.693)
1157  POINT (-14672.399 6736653.693)  POINT (-14672.399 6736653.693)
1158  POINT (-16603.302 6737359.408)  POINT (-16603.302 6737359.408)

      From Grid ID  To Grid ID
0              9.0         9.0
1              9.0         9.0
2              9.0         9.0
3              9.0         9.0
4              9.0        10.0
...            ...         ...
1154           8.0         8.0
1155           8.0         8.0
1156           8.0         8.0
1157           8.0         8.0
1158           8.0         8.0

[1159 rows x 10 columns]
                 Line  Order                          From Station  \
0            Bakerloo      1  Elephant & Castle London Underground
1            Bakerloo      2                         Lambeth North
2            Bakerloo      3           Waterloo London Underground
3            Bakerloo      4                            Embankment
4            Bakerloo      5      Charing Cross London Underground
...               ...    ...                                   ...
1154         Victoria     13                               Pimlico
1155         Victoria     14           Vauxhall London Underground
1156         Victoria     15                             Stockwell
1157  Waterloo & City      1           Waterloo London Underground
1158  Waterloo & City      1                     Bank and Monument

                            To Station         Total
0                        Lambeth North   2786.078733
1          Waterloo London Underground   3346.816851
2                           Embankment   5533.862117
3     Charing Cross London Underground   5902.353545
4                    Piccadilly Circus   6689.994006
...                                ...           ...
1154       Vauxhall London Underground  22253.099743
1155                         Stockwell  15799.532050
1156        Brixton London Underground   9341.601912
1157                 Bank and Monument      0.000000
1158       Waterloo London Underground      0.000000

[1159 rows x 5 columns]
            Line  Order                          From Station     To Station  \
0       Bakerloo      1  Elephant & Castle London Underground  Lambeth North
1       Bakerloo     23           Waterloo London Underground  Lambeth North
2       Northern     23  Elephant & Castle London Underground        Borough
3       Northern     39      London Bridge London Underground        Borough
4       Northern     41  Elephant & Castle London Underground     Kennington
...          ...    ...                                   ...            ...
1154  Piccadilly     50                           Arnos Grove      Southgate
1155  Piccadilly      2                               Oakwood      Southgate
1156  Piccadilly     51                             Southgate        Oakwood
1157  Piccadilly      1                           Cockfosters        Oakwood
1158  Piccadilly     52                               Oakwood    Cockfosters

             Total             From Station Coords  \
0      2786.078733  POINT (-11184.804 6709488.251)
1      3133.565368  POINT (-12501.747 6710785.129)
2     16828.632064  POINT (-11184.804 6709488.251)
3     16732.145714   POINT (-9766.293 6711628.110)
4     15050.963186  POINT (-11184.804 6709488.251)
...            ...                             ...
1154   2960.951129  POINT (-14854.684 6731052.588)
1155   1426.845200  POINT (-14672.399 6736653.693)
1156   1429.636176  POINT (-14225.518 6733914.747)
1157    611.848982  POINT (-16603.302 6737359.408)
1158    636.766918  POINT (-14672.399 6736653.693)

                   To Station Coords
0     POINT (-12479.872 6710025.546)
1     POINT (-12479.872 6710025.546)
2     POINT (-10429.189 6710445.654)
3     POINT (-10429.189 6710445.654)
4     POINT (-11756.897 6708122.429)
...                              ...
1154  POINT (-14225.518 6733914.747)
1155  POINT (-14225.518 6733914.747)
1156  POINT (-14672.399 6736653.693)
1157  POINT (-14672.399 6736653.693)
1158  POINT (-16603.302 6737359.408)

[1159 rows x 7 columns]
            Line  Order                          From Station     To Station  \
0       Bakerloo      1  Elephant & Castle London Underground  Lambeth North
1       Bakerloo     23           Waterloo London Underground  Lambeth North
2       Northern     23  Elephant & Castle London Underground        Borough
3       Northern     39      London Bridge London Underground        Borough
4       Northern     41  Elephant & Castle London Underground     Kennington
...          ...    ...                                   ...            ...
1154  Piccadilly     50                           Arnos Grove      Southgate
1155  Piccadilly      2                               Oakwood      Southgate
1156  Piccadilly     51                             Southgate        Oakwood
1157  Piccadilly      1                           Cockfosters        Oakwood
1158  Piccadilly     52                               Oakwood    Cockfosters

             Total             From Station Coords  \
0      2786.078733  POINT (-11184.804 6709488.251)
1      3133.565368  POINT (-12501.747 6710785.129)
2     16828.632064  POINT (-11184.804 6709488.251)
3     16732.145714   POINT (-9766.293 6711628.110)
4     15050.963186  POINT (-11184.804 6709488.251)
...            ...                             ...
1154   2960.951129  POINT (-14854.684 6731052.588)
1155   1426.845200  POINT (-14672.399 6736653.693)
1156   1429.636176  POINT (-14225.518 6733914.747)
1157    611.848982  POINT (-16603.302 6737359.408)
1158    636.766918  POINT (-14672.399 6736653.693)

                   To Station Coords                        geometry  \
0     POINT (-12479.872 6710025.546)  POINT (-12479.872 6710025.546)
1     POINT (-12479.872 6710025.546)  POINT (-12479.872 6710025.546)
2     POINT (-10429.189 6710445.654)  POINT (-10429.189 6710445.654)
3     POINT (-10429.189 6710445.654)  POINT (-10429.189 6710445.654)
4     POINT (-11756.897 6708122.429)  POINT (-11756.897 6708122.429)
...                              ...                             ...
1154  POINT (-14225.518 6733914.747)  POINT (-14225.518 6733914.747)
1155  POINT (-14225.518 6733914.747)  POINT (-14225.518 6733914.747)
1156  POINT (-14672.399 6736653.693)  POINT (-14672.399 6736653.693)
1157  POINT (-14672.399 6736653.693)  POINT (-14672.399 6736653.693)
1158  POINT (-16603.302 6737359.408)  POINT (-16603.302 6737359.408)

      From Grid ID  To Grid ID
0              9.0         9.0
1              9.0         9.0
2              9.0         9.0
3              9.0         9.0
4              9.0        10.0
...            ...         ...
1154           8.0         8.0
1155           8.0         8.0
1156           8.0         8.0
1157           8.0         8.0
1158           8.0         8.0

[1159 rows x 10 columns]
                 Line  Order                          From Station  \
0            Bakerloo      1  Elephant & Castle London Underground
1            Bakerloo      2                         Lambeth North
2            Bakerloo      3           Waterloo London Underground
3            Bakerloo      4                            Embankment
4            Bakerloo      5      Charing Cross London Underground
...               ...    ...                                   ...
1154         Victoria     13                               Pimlico
1155         Victoria     14           Vauxhall London Underground
1156         Victoria     15                             Stockwell
1157  Waterloo & City      1           Waterloo London Underground
1158  Waterloo & City      1                     Bank and Monument

                            To Station         Total
0                        Lambeth North   1851.149081
1          Waterloo London Underground   2253.749141
2                           Embankment   3551.459192
3     Charing Cross London Underground   3729.549069
4                    Piccadilly Circus   4110.217921
...                                ...           ...
1154       Vauxhall London Underground  16311.685445

,Line,Order,From Station,To Station,Total,From Station Coords,To Station Coords,geometry,From Grid ID,To Grid ID
0,Bakerloo,1,Elephant & Castle London Underground,Lambeth North,1851.149081,POINT (-11184.804 6709488.251),POINT (-12479.872 6710025.546),POINT (-12479.872 6710025.546),9.0,9.0
1,Bakerloo,23,Waterloo London Underground,Lambeth North,2179.913572,POINT (-12501.747 6710785.129),POINT (-12479.872 6710025.546),POINT (-12479.872 6710025.546),9.0,9.0
2,Northern,23,Elephant & Castle London Underground,Borough,10783.398358,POINT (-11184.804 6709488.251),POINT (-10429.189 6710445.654),POINT (-10429.189 6710445.654),9.0,9.0
3,Northern,39,London Bridge London Underground,Borough,10909.405738,POINT (-9766.293 6711628.110),POINT (-10429.189 6710445.654),POINT (-10429.189 6710445.654),9.0,9.0
4,Northern,41,Elephant & Castle London Underground,Kennington,9940.208061,POINT (-11184.804 6709488.251),POINT (-11756.897 6708122.429),POINT (-11756.897 6708122.429),9.0,10.0
...,...,...,...,...,...,...,...,...,...,...
1154,Piccadilly,50,Arnos Grove,Southgate,2170.504972,POINT (-14854.684 6731052.588),POINT (-14225.518 6733914.747),POINT (-14225.518 6733914.747),8.0,8.0
1155,Piccadilly,2,Oakwood,Southgate,1086.137916,POINT (-14672.399 6736653.693),POINT (-14225.518 6733914.747),POINT (-14225.518 6733914.747),8.0,8.0
1156,Piccadilly,51,Southgate,Oakwood,1095.483440,POINT (-14225.518 6733914.747),POINT (-14672.399 6736653.693),POINT (-14672.399 6736653.693),8.0,8.0
1157,Piccadilly,1,Cockfosters,Oakwood,477.631937,POINT (-16603.302 6737359.408),POINT (-14672.399 6736653.693),POINT (-14672.399 6736653.693),8.0,8.0
1158,Piccadilly,52,Oakwood,Cockfosters,468.774918,POINT (-14672.399 6736653.693),POINT (-16603.302 6737359.408),POINT (-16603.302 6737359.408),8.0,8.0

In [ ]:
#add the rest of the map in the background
fig, ax = plt.subplots(figsize=(30, 30))
gdf_tube_flow_MTT.plot(figsize=(30, 30), ax=ax, alpha=0.5, edgecolor='r', linewidth=30) #, column='geometry'
gdf_london_polygons_3857_populated.plot(figsize=(30, 30),alpha=0.5, ax=ax, edgecolor='k',linewidth=3) #'geometry'

for idx, row in gdf_london_polygons_3857_populated.iterrows():
    label = row['grid_index']  # Replace 'grid_index' with the desired column containing labels or information
    centroid_coords = row['geometry'].centroid.coords[0]
    ax.annotate(text=label, xy=centroid_coords, horizontalalignment='center', size=30)

ctx.add_basemap(ax, zoom=13)
ax.set_xlim(west, east)
ax.set_ylim(south, north)
plt.show()

Output hidden; open in https://colab.research.google.com to view.

## 1.2. Build the Origin-Destination Matrix

In [ ]:
def fn_generateODMatrix(gdf_flow_dataset, gdf_population_data):
    # Get the unique Grid IDs
    grid_ids = gdf_population_data['grid_index'].unique()

    # Create a weighted graph using NetworkX
    G = nx.Graph()

    # Add edges with total people as edge weights
    for index, row in gdf_flow_dataset.iterrows():
        from_grid_id = row['From Grid ID']
        to_grid_id = row['To Grid ID']
        total_people = row['Total']

        if G.has_edge(from_grid_id, to_grid_id):
            G[from_grid_id][to_grid_id]['weight'] += total_people
        else:
            G.add_edge(from_grid_id, to_grid_id, weight=total_people)

    # Use Floyd-Warshall algorithm to find shortest paths and total flow between all pairs of grids
    all_pairs_shortest_paths = dict(nx.floyd_warshall(G, weight='weight'))

    # Create a square matrix to store the OD flow
    od_matrix = pd.DataFrame(np.zeros((len(grid_ids), len(grid_ids))), index=grid_ids, columns=grid_ids, dtype=float)

    # Populate the OD matrix with total flow between all pairs of grids
    for from_grid_id, to_grid_data in all_pairs_shortest_paths.items():
        for to_grid_id, total_flow in to_grid_data.items():
            od_matrix.at[from_grid_id, to_grid_id] = total_flow

    # Normalize the OD matrix to values between 0 and 1
    #od_matrix_normalized = (od_matrix - od_matrix.min().min()) / (od_matrix.max().max() - od_matrix.min().min())

    # Normalize the OD matrix to values between 0 and 1
    row_sums = od_matrix.sum(axis=1)
    od_matrix_normalized = od_matrix.div(row_sums, axis=0)
    #od_matrix_normalized = od_matrix.fillna(0.0)
    #od_matrix_normalized = round(od_matrix_normalized,5)

    for index, row in od_matrix_normalized.iterrows():
        if not np.isclose(row.sum(), 1.0):  # Handle potential floating-point inaccuracies
            od_matrix_normalized.loc[index] = row / row.sum()

    # Handle division by zero and set NaN values to 0
    od_matrix_normalized = od_matrix_normalized.fillna(0.0)

    # Optionally, you can add human-readable labels for rows and columns
    od_matrix_normalized_labeled = pd.DataFrame(od_matrix_normalized.values, index=grid_ids, columns=grid_ids)

    od_matrix_normalized_labeled_numpy =  od_matrix_normalized_labeled.to_numpy()

    return od_matrix_normalized_labeled_numpy

### 1.2.1. Generate OD matrix for MTT, FRI, SAT & SUN

In [ ]:
od_matrix_normalized_labeled_MTT = fn_generateODMatrix(gdf_tube_flow_MTT, gdf_london_polygons_3857_populated)
od_matrix_normalized_labeled_MTT

od_matrix_normalized_labeled_FRI = fn_generateODMatrix(gdf_tube_flow_FRI, gdf_london_polygons_3857_populated)
od_matrix_normalized_labeled_FRI

od_matrix_normalized_labeled_SAT = fn_generateODMatrix(gdf_tube_flow_SAT, gdf_london_polygons_3857_populated)
od_matrix_normalized_labeled_SAT

od_matrix_normalized_labeled_SUN = fn_generateODMatrix(gdf_tube_flow_SUN, gdf_london_polygons_3857_populated)
od_matrix_normalized_labeled_SUN

array([[0.        , 0.00084264, 0.01767523, 0.05988323, 0.0276595 ,
        0.07199405, 0.        , 0.        , 0.05239795, 0.0805991 ,
        0.03926498, 0.04834379, 0.06021628, 0.11491234, 0.10573952,
        0.        , 0.1655228 , 0.15494858, 0.        , 0.        ],
       [0.00085197, 0.        , 0.01701903, 0.0596945 , 0.02711388,
        0.07193945, 0.        , 0.        , 0.05212632, 0.08063981,
        0.03884789, 0.04802725, 0.06003124, 0.1153331 , 0.10605868,
        0.        , 0.1665041 , 0.15581276, 0.        , 0.        ],
       [0.02198721, 0.020939  , 0.        , 0.05250488, 0.01241999,
        0.0675702 , 0.        , 0.        , 0.04319353, 0.0782745 ,
        0.02685669, 0.03815032, 0.05291918, 0.12095865, 0.10954808,
        0.        , 0.18391582, 0.17076196, 0.        , 0.        ],
       [0.08077234, 0.07963576, 0.05693144, 0.        , 0.04346436,
        0.01633544, 0.        , 0.        , 0.03523854, 0.03052148,
        0.0529527 , 0.01556476, 0.04578414, 0.11955987, 0.06185238,
        0.        , 0.18782481, 0.17356198, 0.        , 0.        ],
       [0.03873724, 0.03755712, 0.01398301, 0.04512946, 0.        ,
        0.0620907 , 0.        , 0.        , 0.0346463 , 0.07414211,
        0.01625352, 0.02896842, 0.04559589, 0.12219794, 0.10935137,
        0.        , 0.19307808, 0.17826885, 0.        , 0.        ],
       [0.09218323, 0.09110429, 0.06955136, 0.01550703, 0.05676722,
        0.        , 0.        , 0.        , 0.03415003, 0.01346664,
        0.05096587, 0.03028247, 0.04416084, 0.11419524, 0.04320867,
        0.        , 0.17899832, 0.16545879, 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.08349715, 0.08215439, 0.05533133, 0.0416311 , 0.0394212 ,
        0.04250041, 0.        , 0.        , 0.        , 0.05925992,
        0.02092764, 0.02324277, 0.01245865, 0.09961789, 0.09627449,
        0.        , 0.18026664, 0.16341641, 0.        , 0.        ],
       [0.08875066, 0.0878228 , 0.06928781, 0.02491665, 0.05829376,
        0.01158098, 0.        , 0.        , 0.04094917, 0.        ,
        0.05541037, 0.03551752, 0.04955822, 0.10978608, 0.04873937,
        0.        , 0.16551514, 0.15387147, 0.        , 0.        ],
       [0.05664254, 0.05542697, 0.03114475, 0.05663279, 0.01674173,
        0.05741976, 0.        , 0.        , 0.01894525, 0.07259169,
        0.        , 0.03998632, 0.03022374, 0.10912671, 0.10610001,
        0.        , 0.1821359 , 0.16688184, 0.        , 0.        ],
       [0.07339333, 0.07211407, 0.0465596 , 0.01751866, 0.03140194,
        0.03590474, 0.        , 0.        , 0.02214351, 0.04896854,
        0.04208139, 0.        , 0.03401294, 0.11705   , 0.08713559,
        0.        , 0.19388449, 0.17783119, 0.        , 0.        ],
       [0.08825871, 0.08702366, 0.06235221, 0.04975094, 0.04771832,
        0.05055053, 0.        , 0.        , 0.01145928, 0.06596567,
        0.03070822, 0.03283763, 0.        , 0.08016776, 0.10001111,
        0.        , 0.15434727, 0.13884869, 0.        , 0.        ],
       [0.09783649, 0.09711906, 0.08278777, 0.07546788, 0.07428716,
        0.07593235, 0.        , 0.        , 0.05322481, 0.08488678,
        0.06440624, 0.06564319, 0.04656828, 0.        , 0.10466328,
        0.        , 0.0430898 , 0.0340869 , 0.        , 0.        ],
       [0.0866945 , 0.08600363, 0.0722028 , 0.037597  , 0.06401682,
        0.02766749, 0.        , 0.        , 0.04953453, 0.03629048,
        0.06030209, 0.04705804, 0.05594468, 0.10078929, 0.        ,
        0.        , 0.14228416, 0.13361449, 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.09445502, 0.09397417, 0.08436871, 0.07946259, 0.07867122,
        0.0797739 , 0.        , 0.        , 0.06455431, 0.08577555,
        0.07204859, 0.07287765, 0.06009281, 0.02888069, 0.09903064,
        0.        , 0.        , 0.00603414, 0.        , 0.        ],
       [0.09594736, 0.09542558, 0.08500249, 0.07967876, 0.07882003,
        0.08001657, 0.        , 0.        , 0.06350146, 0.08652909,
        0.07163367, 0.0725333 , 0.0586602 , 0.02479127, 0.10091246,
        0.        , 0.00654777, 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ]])

In [ ]:
#Generate the final OD matrix for a whole week (7 days starting from Monday till Sunday)
od_matrix_normalized_weekly = np.stack((od_matrix_normalized_labeled_MTT, od_matrix_normalized_labeled_MTT, od_matrix_normalized_labeled_MTT,
                                        od_matrix_normalized_labeled_MTT, od_matrix_normalized_labeled_FRI,
                                        od_matrix_normalized_labeled_SAT, od_matrix_normalized_labeled_SUN))

In [ ]:
od_matrix_normalized_weekly.shape

(7, 20, 20)

In [ ]:
od_matrix_normalized_weekly[0].sum(axis=1)

array([1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1.,
       1., 0., 0.])